<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'basic.html' %}
    {% block title %}Sponsors{% endblock %}
</head>
<body>
{% load static %}
{% block body1 %}
    <!-- Sponsors -->
    <div class="team" id="team">
        <div class="container">
            <!-- default heading -->
            <div class="default-heading">
                <!-- heading -->
                <h2>Sponsors</h2>
                <!-- paragraph -->
                <p>Sponsorship 2011-2020</p>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 1 url</h4>
                        <!-- paragraph -->
                        <p>Company 1</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 2 url</h4>
                        <!-- paragraph -->
                        <p>Company 2</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 3 url</h4>
                        <!-- paragraph -->
                        <p>Company 3</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 4 url</h4>
                        <!-- paragraph -->
                        <p>Company 4</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 5 url</h4>
                        <!-- paragraph -->
                        <p>Company 5</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <figure>
                            <!-- team member image -->
                            <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                                 alt="Staff-Profile-User-4" border="0">
                            <!-- member details / heading -->
                            <figcaption>
                                <h4 style="color: orangered">Company 6 url</h4>
                                <!-- paragraph -->
                                <p>Company 6</p>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 7 url</h4>
                        <!-- paragraph -->
                        <p>Company 7</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <!-- team member -->
                    <div class="member">
                        <!-- team member image -->
                        <img class="img-responsive" src="https://i.ibb.co/R3Z5Ldt/Staff-Profile-User-4.png"
                             alt="Staff-Profile-User-4" border="0">
                        <!-- member details / heading -->
                        <h4 style="color: orangered">Company 8 url</h4>
                        <!-- paragraph -->
                        <p>Company 8</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block body2 %}

{% endblock %}
</body>
</html>